/*common*/
li {
    list-style-type: none;
}
/*header*/
header {
    height: 64px;
}

/*main*/
/*nav*/
nav {
    background: #696969;
    font-size: 0;
}
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
nav li {
    display: inline-block;
}
nav li.selected {
    border-bottom: solid 2px #fff;
}
nav a {
    display: inline-block;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    color: #ccc;
    padding: 10px 10px;
    font-size: 14px;
}
nav li a:not(.selected):hover {
    color: #fff;
}
nav a.selected {
    color: #fff;
    cursor: default;
}
nav li:first-child {
    margin-left: 80px;
}
#top {
    height: 500px;
    background: #eee;
    margin-bottom: 30px;
}

/*headline*/
div.headline {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    overflow: hidden;
}
div.headlineContent {
    float: left;
    width: 280px;
    margin-right: 80px;
}
div.headline div:last-child {
    margin-right: 0;
    float: right;
}
div.headline p {
    color: #666;
}

/*about*/
div.about {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}
div.about div {
    margin: 0 auto;
}
.aboutContent {
    width: 600px;
    margin: 0 auto 30px;
    text-align: left;
}
#aboutImg {
    overflow: hidden;
    margin-bottom: 50px;
}
.leftside {
    float: left;
}
.rightside {
    float: right;
}
.righttop {
    margin-bottom: 25px;
}
.policy {
    width: 500px;
    height: 300px;
    float: left;
}
.policy p {
    width: 300px;
    margin: 0 auto;
}
#policy {
    overflow: hidden;
}

.person img {
    border-radius: 50%;
}

/*introduce*/
#introduce {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}
.introduceContent {
    width: 600px;
    margin: 0 auto 30px;
    text-align: left;
}
#people p {
    color: #999;
}
#people p span {
    color: #666;
}
.person {
    width: 550px;
    height: 180px;
    float: left;
}
.person img {
    width: 15%;
    margin: 20px 30px;
    float: left;
}
.person p {
    width: 350px;
    text-align: left;
    padding: 30px 20px;
    overflow: hidden;
    float: left;
    border: 1px solid #eee;
}
#others p {
    width: 600px;
    padding-top: 20px;
    margin: 100px auto;
    color: #666;
    text-align: left;
    overflow: hidden;
}

/*movie*/
#movie {
    width: 1000px;
    margin: 0 auto 20px;
    text-align: center;
    overflow: hidden;
}
.thumbnail {
    height: 90%;
    filter: brightness(70%);
    cursor: pointer;
}
.movieContent {
    position: relative;
    width: 320px;
    height: 180px;
}
.movieIcon {
    font-size: 48px;
    position: absolute;
    top: 60px;
    right: 140px;
    color: #ccc;
    cursor: pointer;
}
.hidden {
    display: none;
}
.movie {
    float: left;
}
#prev, #next {
    font-size: 24px;
    margin-top: 70px;
    color: #007a87;
    cursor: pointer;
}

/*application*/
#application {
    background: #007a87;
    color: #fff;
    margin: 0 auto 50px;
    text-align: center;
    padding: 30px 0 50px;
    overflow: hidden;
}
#application ul + ul {
    margin-left: 30px;
}
#application li {
    margin-bottom: 15px;
    font-size: 12px;
}
#applicationContents {
    width: 900px;
    margin: 0 auto 20px;
    overflow: hidden;
    text-align: center;
}
.treatment {
    width: 280px;
    float: left;
    padding: 0;
}
#applicationBtn {
    background: #fff;
    color: #666;
    line-height: 30px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}
/*footer*/
/*footerUpper*/
select {
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}
#footerUpper {
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
.footerUpperContent {
    float: left;
}
#footerUpper ul {
    padding-left: 0;
    margin-left: 100px;
}
#footerUpper li {
    color: #666;
    margin-bottom: 5px;
}
#footerUpper h3 {
    margin-left: 100px;
}

/*FooterLower*/
#footerLower {
    
}
#copyright {
    margin: 20px 0px 100px 20px;
    color: #666;
    float:left;
}
.footerLink {
    margin: 20px 15px 100px 0px;
    color: #666;
    text-decoration: none;
    float: right;
}
.link:hover {
    text-decoration: underline;
}